:root {
    --nav-text: #c4cfde !important;
    --bg-color-w: 5px 5px 30px rgb(4, 4, 4), -5px -5px 30px rgb(57, 57, 57) !important;
    --box-color-w: 5px 5px 30px rgb(4, 4, 4), -5px -5px 30px rgb(57, 57, 57);
    --box-shadow-w: 5px 5px 30px rgb(4, 4, 4), -5px -5px 30px rgb(57, 57, 57);
    --font-fam: sans-serif;
    --font-sz: 60px;
    --text-color: #dc3545 !important;
    --box-shadowinside: inset 2px 5px 10px rgb(5, 5, 5);
    --font-cl: #3c3e41;
    --colorText: #ffff !important;
    --bg-red: #dc3545 !important;
    --text-grey: #c4cfde !important;
    --bg-color: #191919 !important;
    --text-darkgrey: #535353 !important;
}

.section {
    overflow-y: hidden !important;
}

.font-styleX {
    font-family: sans-serif;
    font-size: 55px;
    line-height: 38px;
    font-weight: 800;
}

.font-styleXX {
    font-size: 35px;
    line-height: normal;
    text-transform: capitalize;
    font-weight: 700;
}

.font-styleP {
    text-align: justify;
}

.bgcolortext {
    color: #dc3545 !important;
}

.navborder {
    border-bottom: 3px solid #c4cfde;
}

.bg-color {
    background-color: #191919 !important;
}

p,
h1,
h2,
h3,
h4,
span,
label {
    color: #c4cfde !important;
}

.admin-nav {
    height: 100vh;
    padding: 10px;
    box-shadow: var(--box-shadowinside);
}

.admin-nav>ul {
    padding: 0;
}

.admin-nav>ul>li {
    padding: 20px 10px;
    ;
    box-shadow: var(--box-shadowinside);

}

.admin-nav>ul>li>a {
    text-decoration: none;
    color: var(--nav-text);
    text-transform: capitalize;
}

/* /////////////////////////// name */
/** Login 2 start **/
.login-2 {
    top: 0;
    width: 100%;
    
    opacity: 1;
  
   
    position: relative;
    display: flex;
    
    background: var(--bg-color);
    align-items: center;

    /* background: #efefef; */
}


.login-2 .container {
    max-width: 1120px;
    margin: 0 auto;
}

.login-2 a {
    text-decoration: none;
}

.login-2 h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: 'Jost', sans-serif;
}

.login-2 .info {
    
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: var(--box-shadow-w);
}
.login-2 .info > .info-text{
    box-shadow: var(--box-shadowinside);
    padding: 15px;
}

.login-2 .waviy .color-yellow {
    color: var(--bg-red);
}

.login-2 .waviy {
    position: relative;
}

.login-2 .waviy span {
    position: relative;
    display: inline-block;
    font-size: 35px;
    color: #000;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 15px;

}


.login-2 p {
    margin-bottom: 25px;
    font-size: 18px;
    color: var(--nav-text);
}

.login-2 .form-check-input:checked {
    display: none;
}

.login-2 .form-info {
    justify-content: center;
    align-items: center;
    padding: 100px 90px;
}

.login-2 .login-inner-form .form-group {
    margin-bottom: 25px;
}

.login-2 .login-inner-form .form-box {
    float: left;
    width: 100%;
    position: relative;
}

.login-2 .login-inner-form .form-control {
    font-size: 16px;
    outline: none;
    /* color:/ #535353; */
    color: var(--nav-text);
    background-color: var(--bg-color);
    box-shadow: var(--box-shadowinside);
    border: none;
    padding: 14.5px 45px 14.5px 20px;
}

.login-2 .login-inner-form img {
    margin-bottom: 5px;
    height: 40px;
}

.login-2 .login-inner-form .form-box i {
    position: absolute;
    top: 12px;
    right: 20px;
    font-size: 20px;
    color: #535353;
}

.login-2 .login-inner-form .forgot {
    margin: 0;
    line-height: 45px;
}

.login-2 .bg-img {
    top: 0;
    bottom: 0;
    opacity: 1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    border-right: solid 1px #e7e7e7;
}

.login-2 .login-box {
    background: var(--bg-color);
    margin: 0 auto;

    position: relative;
    z-index: 0;
}

.login-2 .login-inner-form .checkbox-theme input[type="checkbox"]:checked+label::before {
    color: #fff;
    background: #ff0000;
    border: solid 1px #ff0000;
}

.login-2 .login-inner-form .btn-md {
    cursor: pointer;
    height: 55px;
    color: #fff;
    padding: 13px 50px 12px 50px;
    font-size: 15px;
    font-weight: 400;
    font-family: 'Jost', sans-serif;
    border-radius: 100px;
    text-transform: uppercase;
}

.login-2 .login-inner-form input[type=checkbox],
input[type=radio] {
    margin-right: 3px;
}

.login-2 .login-inner-form p {
    margin: 0;
    color: #535353;
}

.login-2 .login-inner-form p a {
    color: #535353;
}

.login-2 .login-inner-form button:focus {
    outline: none;
    outline: 0 auto -webkit-focus-ring-color;
}

.login-2 .login-inner-form .btn-theme.focus,
.btn-theme:focus {
    box-shadow: none;
}

.login-2 .login-inner-form .btn-theme {
    background: var(--bg-red);
    border: none;
    font-size: 18px;
    color: var(--nav-text);
}

.login-2 .login-inner-form .btn-theme:hover {
    background: var(--bg-color);
    border: 1px solid var(--bg-red);
    box-shadow: var(--box-shadow-w);
}

.login-2 .logo img {
    margin-bottom: 15px;
    height: 30px;
}

.login-2 .nav-pills li {
    display: inline-block;
}

.login-2 .login-inner-form .form-check {
    float: left;
    margin-bottom: 0;
    padding-left: 0;
}

.login-2 .login-inner-form .form-check a {
    color: #d6d6d6;
    float: right;
}

.login-2 .login-inner-form .form-check-input {
    position: absolute;
    margin-left: 0;
}

.login-2 .login-inner-form .form-check label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 1px;
    margin-left: -22px;
    background: #fff;
    border: 1px solid #d9d9d9;
}

.login-2 .login-inner-form .form-check-label {
    padding-left: 20px;
    margin-bottom: 0;
    font-size: 16px;
    color: #535353;
}

.login-2 .form-section input[type=checkbox]:checked+label:before {
    font-weight: 600;
    color: #e6e6e6;
    line-height: 18px;
    font-size: 12px;
    content: "\2713";
}

.login-2 .login-inner-form input[type=checkbox],
input[type=radio] {
    margin-top: 4px;
}

.login-2 .login-inner-form .checkbox a {
    font-size: 16px;
    color: #535353;
    float: right;
    margin-left: 3px;
}

.login-2 .form-section>h3 {
    text-align: center;

}

.login-2 .form-section h3 {
    font-size: 25px;
    margin-bottom: 30px;
    font-weight: 500;
    color: var(--text-color) !important;
}

.login-2 .form-section .text {
    font-size: 16px;
    margin-top: 25px;
    margin-bottom: 0;
    color: #535353;
}

.login-2 .form-section .text a {
    color: #535353;
}

/** Social buttons start **/
.social-buttons {
    display: flex;
    text-align: center;
}

.login-2 .social-button {
    position: relative;
    width: 55px;
    height: 55px;
    line-height: 55px;
    border-radius: 50px;
    background: #f3f3f3;
    text-align: center;
    margin: 0 5px 5px 0;
    font-size: 18px;
}

.login-2 .social-button::after {
    content: '';
    position: absolute;
    top: -1px;
    left: 50%;
    display: block;
    width: 0;
    height: 0;
    border-radius: 50px;
    transition: 0.3s;
    text-align: center;
}

.login-2 .social-button:focus,
.social-button:hover {
    color: #fff;
}

.login-2 .social-button:focus::after,
.social-button:hover::after {
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    margin-left: calc(-50% - 1px);
}

.login-2 .social-button i,
.social-button svg {
    position: relative;
    z-index: 1;
    transition: 0.3s;
}

.login-2 .social-button-facebook {
    color: #4867aa;
}

.login-2 .social-button-facebook::after {
    background: #4867aa;
}

.login-2 .social-button-twitter {
    color: #33CCFF;
}

.login-2 .social-button-twitter::after {
    background: #33CCFF;
}

.login-2 .social-button-linkedin {
    color: #2392e0;
}

.login-2 .social-button-linkedin::after {
    background: #2392e0;
}

.login-2 .social-button-google {
    color: #db4437;
}

.login-2 .social-button-google::after {
    background: #db4437;
}

/** MEDIA **/
@media (max-width: 992px) {
    .login-2 .bg-img {
        display: none;
    }

    .login-2 .form-info {
        padding: 50px 30px;
    }

    .login-2 .login-box {
        max-width: 600px;
        margin: 0 auto;
    }


    .login-2:before {
        background: #efefef;
    }
}

/** Login 2 end **/
.text-form {
    text-align: justify;
    color: var(--nav-text) !important;

}

.login-box {
    background-color: var(--bg-color);
    box-shadow: var(--box-color-w);
}

.form-box>label {
    text-align: start !important;
    font-size: 18px;
}

/* /////////////////////// add icon  */
.add-skill {
    box-shadow: var(--box-shadow-w);

}

.skill-item {




    margin: 0;
}

.skill-item>ul {
    display: flex;
    flex-wrap: wrap;

}

.skill-item>ul>li {

    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-right: 10px;
    position: relative !important;
    background: transparent;
    justify-content: center;
}
/* 
.skill-item>ul>li>a {
    width: 125px;
    height: 60px;
    line-height: 60px;
    color: #ffff;
    text-align: center;
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    border-radius: 6px;
    box-shadow: var(--box-shadowinside);

    background: transparent;
    cursor: pointer;
    transition: color 0.3s 0.1s ease-out;
} */

/* ///////////////////////  skill hover button  */
/* From Uiverse.io by mrhyddenn */

.skill-item>ul {
    display: flex;
    flex-wrap: wrap;
}

.skill-item>ul>li {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-right: 10px;
    position: relative !important;
    background: transparent;
    justify-content: center;
}

.skill-item>ul>li>a {
    width: 125px;
    height: 60px;
    line-height: 60px;
    color: #fff;
    text-align: center;
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    border-radius: 6px;
    box-shadow: var(--box-shadowinside) !important;
    background: transparent;
    cursor: pointer;
    transition: color 0.3s 0.1s ease-out;
}

.skill-item>ul>li>a::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    border-radius: 50%;
    display: block;
    width: 20px;
    height: 20px;
    transition: box-shadow 0.5s ease-out;
    z-index: -1;
}

.skill-item>ul>li>a:hover {
    color: #fff !important;
}

.skill-item>ul>li>a:hover::before {
    box-shadow: inset 0 0 0 10em red !important;
}
/* ///////////////// skil button  */
/* From Uiverse.io by thisSasha */ 
.skill-button > button {
    padding: 15px 25px;
    border: 0;
    border-radius: 15px;
    color: var(--nav-text);
    z-index: 1;
    background: var(--bg-red);
    position: relative;
    font-weight: 1000;
    font-size: 17px;
   
    box-shadow: var(--box-shadowinside);
    transition: all 250ms;
    overflow: hidden;
  }
  
  .skill-button > button::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    height: 0;
    width: 0;
    border:0;
    border-radius: 15px;
    background-color: var(--bg-color);
    z-index: -1;
    box-shadow: var(--box-shadowinside);
    transition: all 250ms;
  }
  
  .skill-button > button:hover {
    color: var(--bg-red);
  }
  
  .skill-button > button:hover::before {
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
  }
  
  .skill-button > button:active {
    transform: scale(80%);
  }
  /* /////////////////////////////////////// modal style */
  .modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    color: var(--nav-text);
    pointer-events: auto;
    background-color: var(--bg-color);
    background-clip: padding-box;
    
    border-radius: var(--bs-modal-border-radius);
    outline: 0;
}
.btn-close{
    color: var(--bg-red) !important;
 
}
/* ////////////// add what do  */
.whatdo-box{
    box-shadow: var(--box-shadow-w);
}
.whatdo-box > .whatdo-inner{
    box-shadow: var(--box-shadowinside);
}
/* //////////////////////////   add portfolio  */
.add-portfolio{
    box-shadow: var(--box-shadow-w);
}
.add-portfolio > .add-portfolioinnner{
    box-shadow: var(--box-shadowinside);
    
}
input[type="date" ] {
    font-family: monospace;
    padding-inline-start: 1px;
    cursor: default;
    padding: 0px;
}
input[type="date" ]:focus{
    background-color: var(--bg-color-w);
    color: var(--nav-text);
    box-shadow: var(--box-shadowinside);
    outline: 2px solid var(--bg-red);
}
input[type="date"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
    border-radius: 4px;
    margin-right: 2px;
    opacity: 0.6;
    filter: invert(0.8);
  }
  
 
   /* /////////// cursor edit  */
.cursor-dot{
    width:5px ;
    height:5px;
    background-color:var(--bg-red) !important;
   }
   .curson-outline{
    width: 30px;
    height: 30px;
    border :3px solid var(--bg-red) !important;
    
   }
   .cursor-dot,.curson-outline{
    position: fixed;
    top: 0;
    left: 0;
    border-radius: 50%;
    z-index: 1;
    pointer-events: none;
    transform: translate(-50%,-50%);
   }
   /* ////////end */